body {
  /* width: 100vw; */
  padding: 0%;
  margin: 0%;
}

.nav {
  position: absolute;
  z-index: 99999;
  width: 100vw;
}

.nav-link {
  color: #f8f9fa;
  font-weight: 600;
}

.nav-link:hover {
  color: gold;
}

.cover-image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-image: url("./../assets/home_cover.jpeg"); */
  background-size: cover;
  background: linear-gradient(
      to right,
      /* Direction of the gradient */ rgba(0, 0, 0, 0.1),
      /* Dark color on the left (50% opacity) */ rgba(0, 0, 0, 0.4)
        /* Dark color on the right (50% opacity) */
    ),
    url("./../assets/index.webp") center/cover no-repeat;
}

.cover-image-title {
  color: navy;
  text-wrap: wrap;
  font-weight: 700;
}

.cover-image-content {
  position: absolute;
  top: 20px;
  left: 10%;
  transform: translate(-8%, 50%);
  color: #fff;
  max-width: 50rem;
  /* background-color: red; */
}

.text-justify {
  text-align: justify;
}

.btn-explore {
  font-weight: 600;
  width: 100%;
}

.text-home {
  color: brown;
}
