body {
  /* width: 100vw; */
  padding: 0%;
  margin: 0%;
  height: 100%;
}

.title {
  color: navy;
}

.container-fluid body {
  display: flex;
  height: 100vh;
}

.nav-link {
  color: black;
  font-weight: 600;
}

.nav-link:hover {
  color: navy;
}

.maxwh {
  width: 100%;
  height: 100%;
  padding: 0%;
}

.nav {
  background-color: rgba(127, 127, 127, 0.5);
}

.left-panel {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.right-panel {
  position: sticky;
  top: 0;
  height: fit-content;
  overflow-y: visible;
}

.last-item {
  position: sticky;
  width: 100%;
}

.carousel-title-container {
  position: absolute;
  z-index: 99999;
  width: 100%;
  bottom: 2%;
  background-color: khaki;
}
.carousel-title {
  text-align: center;
}

.footer {
  background-color: #343a40; /* Dark background */
  color: #ffffff; /* White text */
}
.footer a {
  color: #ffffff;
}
.footer a:hover {
  color: #f8f9fa;
  text-decoration: none;
}
.social-icon {
  font-size: 30px;
  margin-right: 10px;
}
.socmed-text {
  font-size: 20px;
  margin-left: 10px;
}
.footer-address {
  font-size: small;
  margin: 0;
}
